.box {
  width: 150px;
  height: 100px;
  border: 1px solid;
  background: wheat;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  background: tomato;
  padding: 0.5rem;
}

h3 {
  font-size: 2rem;
  display: none;
}
